<header class="fixed z-10 w-full h-32 flex justify-around items-start bg-gradient-to-b from-black">
  <nav class="hidden md:block h-auto flex ml-8 mt-8 lg:ml-12 justify-start items-center space-x-8 lg:space-x-12">
    <a href="" class="font-poppins text-lg lg:text-xl text-white">Most Popular</a>
    <a href="" class="font-poppins text-lg lg:text-xl text-white">Movies</a>
    <a href="" class="font-poppins text-lg lg:text-xl text-white">TV Series</a>
  </nav>

  <mat-form-field (ngSubmit)="onSubmit()"
  [appearance]="'outline'" color="accent"
  class="bg-black h-14 bg-opacity-30 mt-4 lg:bg-transparent">
    <input matInput  [formControl]="queryField"  type="text" [(ngModel)]="value" autocomplete="off"
    class="text-white">
      <button type="submit" matSuffix mat-icon-button (click)="onSubmit()">
        <mat-icon class="text-white">search</mat-icon>
      </button>
  </mat-form-field>

</header>
